.panda-bg-info{
    background-color: #fceae8;
}
.panda-btn{
    color: white;
    padding: 9px 25px;
    border: none;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
}
.panda-slider-price{
    color:#FF136F ;
    font-size: 2.5rem;
}
.categories img{
width: 100px;
}